mixin password-force(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ""

  .password-force(class=spec.__class)&attributes(attributes)
    .text-muted
      h6 Tu contraseña debe incluir:
      ul
        li.minlength Mínimo 8 dígitos
        li.oneuppercase Una mayúscula o una minúscula
        li.onenumber Al menos un número
        li.onespecial Al menos 1 caracter especial
        li.equalTo Coincidir en ambos campos
