include ../table/table

mixin table-fondos(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .table-fondos.py-1(class=spec.__class)&attributes(attributes)
    +table({
      label: "Fondos de inversión",
      labelAttrs: {class:"text-primary font-weight-bold mb-3"},
      headers:{
        iconCol:{
          col: "75",
          label: "<div class='sr-only'>icon</div>",
          first: true,
          default: `<i class="icon principal-people">
                      <span class="path1"></span>
                      <span class="path2"></span>
                    </i>`
        },
        agreement:{
          col: "160",
          label: "Contrato",
        },
        alias:{
          col: "1*",
          label: "Alias",
          editable: true
        },
        balance:{
          col: "1*",
          label: "Saldo",
        }
      },
      headersAttrs:{
        class:"text-primary font-weight-bold"
      }
    })(class="bg-white")
