// icons styles
.icon {
    font-size: 30px;
    vertical-align: middle;
    &.circle-white span {
        width: 26px;
        height: 26px;
        margin: 0 10px;
        display: inline-block;
    }
    &.circle {
        border-radius: 100%;
        border: 2px solid white;
        text-align: center;
        font-size: 26px;
    }
}