// icons styles
.icon {
    font-size: 30px;
    vertical-align: middle;
    &.circle-white span {
        width: 26px;
        height: 26px;
        margin: 0 10px;
        display: inline-block;
    }
}