// slider-helpful styles
.slider-helpful {
    .owl-dots .owl-dot {
        &:hover,
        &.active {
            span {
                background-color: white;
                height: 16px;
                opacity: 1;
                transform: translate(3px, 3px);
                width: 15px;
            }
        }
        span {
            background-color: white;
            margin: 15px;
            opacity: .5;
            border-radius: 100%;
        }
    }
}