include ../icons/icons

mixin panel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ""
  - spec.trigger = typeof spec.trigger !== "undefined"? spec.trigger : true
  - spec.wrapper = typeof spec.wrapper !== "undefined"? spec.wrapper : true
  - spec.triggerIcon = spec.triggerIcon || ""
  - spec.triggerAttrs = spec.triggerAttrs || {}

  .panel(class=spec.__class)&attributes(attributes)
    if spec.trigger
      .trigger.h-100.w-170px&attributes(spec.triggerAttrs)
        .controls.text-right.mr-4
          span.mr-2.op-7 Ocultar
          +icons({icon:spec.triggerIcon, __class:"circle"})
    .panel-content
      if spec.wrapper
        .p-5
          .mx-2.px-4.py-2
            block
      else
        block
