mixin slide-gray-frame(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .item.slide-gray-frame(class=spec.__class)&attributes(attributes)
    .bg-light.p-4.text-muted.d-flex.align-items-center
      .px-4
        block
