// slide-gray-frame styles
.item.slide-gray-frame {
    .bg-light {
        min-height: 254px;
    }
    &.benefits {
        .icon {
            font-size: 2.5rem;
        }
        li {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}